* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(41, 42, 43) 16%, #bbb 91.1%);


}

button {
  cursor: pointer;
}
